name: Build Swift Package

on: 
  push:

jobs: 
  build-test-stitch:
    name: Build and test with Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - swift: '5.9'
            os: macos-13
          - swift: '6.0'
            os: macos-latest
          - swift: 6
            os: macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ matrix.swift }}

      - name: Verify Swift swift-version
        run: swift --version

      - uses: actions/checkout@v2

      - name: Build
        run: swift build -v

      - name: Test
        run: swift test -v